*{
    margin:0;
    padding:0;
    text-align:center;
}
body{
    background-color: #FFECD1;
}
h1{
    background-color: #FF7D00;
    color: #001524;
    height: 5rem;
    line-height: 5rem;
    font-size: 3rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
.choise
{
    height: 165px;
    width: 165px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
img:hover
{
    border: 10px solid brown;
    cursor: pointer;
}
.choises{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top: 5rem;
}
.scoreBord{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap:5rem;
    
}
#userScor,#comScor{
    font-size: 5rem;
    
}
.msgCounter{
    margin-top: 5rem;

    
}
#mas{
    background-color: aquamarine;
    color:black;
    font-size: 2rem;
    display:inline;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
